.app-main{
  margin-top: 3%;
}

.logo{
  width: 45px;
  object-fit: contain;
}

.name{
  margin-bottom: 30px;
  font-size: 20px;
}
.line{
  /* position: relative;
  top: 50%; */
  width: 10em;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden; transform: translateY(-50%);
  font-weight: bold;
  font-size: 70px;
  margin-top: 2%;
}

.anim-typewriter{
  animation: typewriter 2s steps(15) 1s 1 normal both,
  blinkTextCursor 500ms steps(35) infinite normal; 
}

.nav-link{
  font-size: 18px;
}

.homeScreen{
  align-items: center;
}

.col-1{
  width: auto;
}

.col-2{
  width: auto;
}

@keyframes typewriter{
  from {
      width: 0;
  }
  to {
      width: 5.2em;
  }
}

@keyframes blinkTextCursor{
  from {
      border-right-color: rgba(0,0,0,0.75);
  }
  to {
      border-right-color: transparent;
  }

}

/* footer */

.footer{
  text-align: center;
  margin-bottom:8px;
}

.fa-2x{
  margin: 0 1rem;
}

.fab{
  color: black;
}

.sticky{
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
}

@media only screen and (max-width: 400px) {
  .line{
    font-size: 50px;
    margin-top: 25%;
  }
  .logo{
    width: 35px;
    object-fit: contain;
  }
}

@media only screen and (min-width:401px) and (max-width: 990px) {
  .line{
    font-size: 60px;
    margin-top: 15%;
  }
  .logo{
    width: 35px;
    object-fit: contain;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1025px){
 .line{
   font-size: 85px;
   margin-top: 60%;
 }
 .name{
   font-size: 30px;
 }
 .homeScreen{
   margin-bottom: 30%;
 }
}
